#footer {
	width: 100%;
	position: relative;
	padding: 35px 25px;
	scroll-snap-align: end;
	background-color: #4f4f4f;
	display: flex;
	justify-content: space-around;
	color: #6e6e6e;
	flex-wrap: wrap;

	p {

	text-align: center;
	}
	.adresa {
		p {
			span {
				color : #949494;
			}
		}
	}
}