@import "buttons";
#zvol-metodu {
	height: 100vh;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.zvol-metodu-heading {
		h2 {
			padding: 30px 0 25px;
		}
	}
}
#wrapper {
	main {
		position: relative;
	}

	.intro-bg {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		// height: 470px;
		text-align: center;
		padding: 0 30px;
		// margin-top: 100px;
		position: relative;
		overflow: hidden;
		scroll-snap-align: start;
	
		h1 {
			position: absolute;
			z-index: 10;
			top: 40%;
		}
		#main-video {
	
			scroll-snap-align: start;
			position: relative;
			width: 100vw;
			height: calc(100vh - 100px);
			z-index: 1;
			-o-filter: blur(2.5px);
			filter: blur(2.5px);
			object-fit: cover;
			transform: scale(1.04);
		}
		@keyframes scrollNow {
			0% {
				border-color: rgba(131,126,149,0.2);
			}
			50% {
				border-color: rgba(131,126,149,0.45);
			}
			100% {
				border-color: rgba(131,126,149,0.2);
			}
		}
		#scroll-down {
			position: absolute;
			z-index: 10;
			bottom: 65px;
	
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 200ms ease-in-out;
	
			background-color: #fff;
			background-clip: content-box;
			border: 15px solid rgba(131,126,149,0.2);
			border-color: rgba(131,126,149,0.2);
			animation: scrollNow 2000ms ease-in 1s infinite forwards;
	
			img {
				transform: translateY(2px);
			}
		}
	}
	
	// definitely style this
	#methods-nav {
		position: fixed;
		height: 100%;
		top: 10%;
		right: 20px;
		z-index: 10;
		display: none;

		// display: inline;
		.methods-nav-wrapper {
			display: flex;
			align-items: center;
			height: 100%;
			ul {
				width: 40px;
				li {
					width:40px;
					height: 40px;
					border-radius: 50%;
					border: 2px solid white;
					// box-shadow: 0 0 4px 0px black;

					margin-bottom: 10px;
					overflow: hidden;
					img {
						width: 100%;
						// height: 100%;
					}
				}
				li:not(.methods-nav-wrapper ul li:first-child){
					opacity: 0.5;
				}
			}
		}
	}
	.method-item {
		width: 100%;
		height: 100vh;
		max-height: 100vh;
		overflow: hidden;
		scroll-snap-align: center;
		position: relative;

		@media (max-width: 768px) {
			height: 150vh;
			max-height: 150vh;
		}
		@media (max-width: 615px) {
			height: 100vh;
		}
		// think about images that would fit in
		&-media {
			height: 30vh;
			img {
				height: 100vh;
				width: 100%;
				object-fit: cover;
				object-position: bottom;

				@media (max-width: 768px) {
					// height: 50vh;
					height: auto;
					// bottom: -19.1vh;
    				position: relative;
				}
				@media (max-width: 1000px) {
					object-position: right;
				}
			}
		}

		// definitely style this
		// think about prices and how would they fit in
		&-content {
			background-color: #827e94;
			color: white;
			padding: 200px 100px 40px;
			font-size: 40px;

			@media(max-width:615px){
				padding-left: 30px;
				padding-right: 30px;
				font-size: 27px;
			}

			@media (max-width: 767px){
				// border-top: 1px solid rgba(255,255,255,0.4);
				box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 
							0 -2px 2px rgba(0,0,0,0.12), 
							0 -4px 4px rgba(0,0,0,0.12), 
							0 -8px 8px rgba(0,0,0,0.12),
							0 -16px 16px rgba(0,0,0,0.12);
				
				padding-top: 40px;

			}

			&-title {
				margin: 20px 0 40px;
				h2 {
					font-weight: lighter;
					font-size: 1.2em;
				}
			}
			&-desc {
				margin: 10px 0 50px;
			}
			&-links {
				color : white;
				padding-right: 100px;
				display: flex;
				justify-content: flex-start;
				@media (max-width: 1013px) {
					padding-right: 0;
				}
			}
		}

	}

	#eshop {
		width: 100%;
		overflow: hidden;
		scroll-snap-align: center;
		position: relative;
		background-color: #fff;
		color: #827e94;
		padding: 200px 100px;
		font-size: 40px;

		@media(max-width:1200px){
			padding: 200px 80px;
		}
		@media(max-width:768px){
			padding: 200px 50px;
		}
		@media(max-width:615px){
			padding: 200px 50px;
			font-size: 27px;
		}

	// same hierarchy path as parent
	.eshop-content-table {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-item {

			position: relative;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: none;
				object-position: left;
				position: relative;
			}
			&-desc {

				position: absolute;
				bottom: 0;
				left: 0;
				padding: 20px;
				text-align: left;
				// text-shadow: 0 0 0 rgba(0,0,0,0.1),
				// 			1px -0.5px 0px rgba(0,0,0,1),
				// 			1px -1px 0px rgba(0,0,0,1),
				// 			1px -1.5px 0px rgba(0,0,0,1),
				// 			2px -2px 0px rgba(0,0,0,1), 
				// 			1px -2.5px 0px rgba(0,0,0,1), 
				// 			3px -3px 0px rgba(0,0,0,1),
				// 			1px -3.5px 0px rgba(0,0,0,1), 
				// 			4px -4px 0px rgba(0,0,0,1),
				// 			1px -4.5px 0px rgba(0,0,0,1),
				// 			5px -5px 0px rgba(0,0,0,1),
				// 			1px -5.5px 0px rgba(0,0,0,1);

				font-weight: bold;
				h3 {
					font-size: 0.8em;
				}
				h5 {
					font-size: 0.5em;
				}
			}
			.eshop-content {

				&-wrapper {
					position: relative;
					margin-left: 40px;
					margin-right: 40px;
					max-height: 500px;

					@media (max-width: 1200px) {
						
						margin-left: 20px;
						margin-right: 20px;
					}
					@media (max-width: 768px) {
						margin-right: 0;
					}
				}
				// &-title {
				// 	margin: 20px 0 40px;
				// 	h2 {
				// 		font-weight: lighter;
				// 		font-size: 1.2em;
				// 	}
				// }
				
			}
		}
	}

	#eshop-gotoshop {
		padding-left: 40px;
		@media (max-width: 1200px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		@media (max-width: 768px) {
			padding-right: 0;
		}
	}
}
	#team {
		width: 100%;
		overflow: hidden;
		scroll-snap-align: center;
		position: relative;
		background-color: #fff;
		color: #827e94;
		padding: 0 300px 200px;
		font-size: 40px;
		align-items: center;
    	justify-content: center;

		@media(max-width:1400px){
			padding: 0 240px 200px;
		}
		@media(max-width:1200px){
			padding: 0 80px 200px;
		}
		@media(max-width:768px){
			padding: 0 50px 200px;
		}
		@media(max-width:615px){
			padding: 0 50px 200px;
			font-size: 27px;
		}
		@media(max-width:420px){
			padding: 0 25px 200px;
		}

		header {
			text-align: center;
			h2 {
				font-size: 1.2em;
				font-weight: bold;;
			}
		}

		.mycarousel {
			position: relative;
			height: 300px;
			padding: 0;
			margin: 0;
			margin-top: 30px;
			margin-bottom: 30px;;
			width: 80%;

			&-item {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 1;
				text-align: center;
				-webkit-transition: opacity 0.5s;
				-o-transition: opacity 0.5s;
				transition: opacity 0.5s;

				.picture, h3, h4, .social {
					width: 100%;
				}
				.picture {
					img {
						width: 150px;
					}
				}
				.info {
					h3 {
						font-size: 0.7em;
						font-weight: bold;
					}
					h4 {
						font-size: 0.5em;
					}
				}
			}
			.show {
				opacity: 1;
				z-index: 2;
			}
			.slider-button {
				cursor: pointer;
				color: #827e94;
				font-weight: bold;
				width: 40px;
				height: 40px;
				background-color: var(--color-highlight-green);
				z-index: 3;
				position: absolute;
				text-align: center;
				border-radius: 20%;
				// -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				// box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}
			.button-left {
				position: absolute;
				left: -10px;
			}
			.button-right {
				position: absolute;
				right: -10px;
			}
		}
		
	}	
	#kontakt {
		width: 100%;
		overflow: hidden;
		scroll-snap-align: center;
		position: relative;
		background-color: #fff;
		color: #827e94;
		padding: 0 150px 200px;
		font-size: 20px;
		justify-content: center;
		
		@media(max-width:1200px){
			padding: 0 100px 200px;
		}
		@media(max-width:768px){
			padding: 0 50px 200px;
		}
		@media(max-width:615px){
			padding: 0 50px 200px;
			font-size: 16px;
		}
		@media(max-width:420px){
			padding: 0 25px 200px;
		}

			h2 {
				width: 100%;
				text-align: center;
				font-size: 2.5em;
				font-weight: bold;;
			}
		
		#map {
			p {
				padding-left: 5px;
			}
			img {
				margin: 25px 0;
			}
		}
		#contact-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			#message {
				resize: none;
				width: 100%;
				height: 240px;
				margin: 25px 0;
				background-color: #f2f2f2;
				border-color: #d9d9d9;
				color: #6c6c6c;
				padding: 28px;
			}
			#email {
				width: 60%;
				padding: 25px;
				background-color: #f2f2f2;
				border: 1px solid #d9d9d9;
				color: #6c6c6c;
			}
			#submit {
				width: 35%;
			}
			
		}
	}
}